header {
    background-color: rgb(40, 44, 52);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.rectangle {
    width: 80%;
    height: 100px;
    background-color: rgb(255, 0, 0);
}
